@use './tokens/index.scss' as tokens;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans';
  font-style: normal;
}

.app {
  display: flex;
  flex-direction: column;

  .todo__info {
    display: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    letter-spacing: -0.194444px;
    color: #9495a5;
    &:hover {
      color: #e3e4f1;
    }
    &.dark {
      color: #5b5e7e;
    }

    &.mobile {
      display: flex;
    }

    @include tokens.for-size('tablet-portrait-up') {
      display: flex;
    }
  }

  .header__input--bubble {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 1px solid #d1d2da;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    &.active {
      background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
    }
    &.dark {
      border: 1px solid #393a4b;
      transition: all ease 0.5s;
    }
  }
  .header {
    background-image: url('./assets/bg-mobile-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100vw;
    padding: 44px 24px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    transition: all ease 0.5s;
    display: flex;
    align-items: center;
    flex-direction: column;
    &.dark {
      background-image: url('./assets/bg-mobile-dark.jpg');
      transition: all ease 0.5s;
    }

    @include tokens.for-size('tablet-portrait-up') {
      background-image: url('./assets/bg-desktop-light.jpg');
      height: 300px;
      padding: 70px 110px;
      gap: 48px;
      &.dark {
        background-image: url('./assets/bg-desktop-dark.jpg');
      }
    }

    @include tokens.for-size('desktop-up') {
      padding: 70px 370px;
    }

    &__logo {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 327px;
      .theme__icon {
        cursor: pointer;
      }

      @include tokens.for-size('tablet-portrait-up') {
        max-width: 540px;
      }
    }
    &__input {
      background: #ffffff;
      box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
      border-radius: 5px;
      padding: 14px 0 14px 20px;
      height: 48px;
      display: flex;
      align-items: center;
      gap: 12px;
      max-width: 327px;
      width: 100%;

      @include tokens.for-size('tablet-portrait-up') {
        max-width: 540px;
      }
      &.dark {
        background: #25273d;
        box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
      }

      &--text {
        border: none;
        outline: none;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.25px;
        color: #393a4b;
        flex: 2;
        &.dark {
          background: #25273d;
          color: #c8cbe7;
        }
        &.active {
          text-decoration: line-through;
          color: #d1d2da;
          &.dark {
            color: #4d5067;
          }
        }
        &::placeholder {
          font-weight: 400;
          font-size: 12px;
          line-height: 12px;
          letter-spacing: -0.166667px;
          color: #9495a5;
        }
      }
    }
  }
  .info {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: #f2f2f2;
    min-height: 530px;
    height: 100%;

    &.dark {
      background: #171823;
    }

    @include tokens.for-size('tablet-portrait-up') {
      min-height: calc(100vh - 200px);
    }

    .info__todo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      position: absolute;
      top: -28px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

      @include tokens.for-size('tablet-portrait-up') {
        top: -64px;
      }

      &--wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
        &.dark {
          box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
        }

        .actions__mobile {
          display: flex;
          padding: 16px 20px;
          background: #ffffff;
          box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          min-width: 327px;
          justify-content: space-between;

          &.dark {
            background: #25273d;
          }

          @include tokens.for-size('tablet-portrait-up') {
            min-width: 540px;
            display: none;
          }
        }

        .todo__item {
          display: flex;
          gap: 24px;
          padding: 16px 20px;
          width: 327px;
          background: white;
          border-bottom: 1px solid #e3e4f1;
          align-items: center;
          justify-content: flex-start;

          &.dark {
            background: #25273d;
            border-bottom: 1px solid #393a4b;
          }

          &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }

          @include tokens.for-size('tablet-portrait-up') {
            width: 540px;
            &:first-child {
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            }
          }

          .todo__delete {
            margin-left: auto;
          }

          .item__title {
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
            letter-spacing: -0.25px;
            color: #494c6b;

            &.active {
              text-decoration: line-through;
              color: #d1d2da;
              &.dark {
                color: #4d5067;
              }
            }

            &.dark {
              color: #c8cbe7;
            }
          }
        }
      }
      &--actions {
        background: #ffffff;
        box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
        border-radius: 5px;
        padding: 14px 80px;
        min-width: 327px;
        display: flex;
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include tokens.for-size('tablet-portrait-up') {
          width: 540px;
          padding: 14px 24px;
          justify-content: space-between;
        }
        &.dark {
          background: #25273d;
          box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
        }

        .todo__actions {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          .actions__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: -0.194444px;
            color: #9495a5;
            &:hover {
              color: #494c6b;
            }
            &.active {
              color: #3a7cfd;
            }
          }
        }
      }
      &--subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        letter-spacing: -0.194444px;
        color: #5b5e7e;
        cursor: pointer;
        &.dark {
          color: #5b5e7e;
        }
      }
    }
  }
}
